<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Unicon App</name>

<description>
Unicon Schedule and Event Map
</description>

<icon src="images/icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="images/icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<author href="http://valerieviligure.com" email="ervins.trans@gmail.com">
Valerie Viligure & Ervins Trans
</author>

</widget>
