<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Unicon App</name>

<description>
Unicon Schedule and Event Map
</description>

<author href="http://valerieviligure.com" email="ervins.trans@gmail.com">
Valerie Viligure and Ervins Trans
</author>

</widget>
